<div id="<%= dom_id game_session %>">
  <p>
    <strong>Started at:</strong>
    <%= game_session.started_at %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= game_session.duration %>
  </p>

  <p>
    <strong>Players:</strong>
    <ul>
      <% game_session.players.each do |player| %>
        <li>
          <%= player.name %>: <%= player.balance %>
        </li>
      <% end %>
    </ul>
  </p>

  <%= button_to "Join this session", join_game_session_path(game_session) unless already_joined?(game_session)%>
  <%= button_to "Leave this session", leave_game_session_path(game_session), method: :delete if already_joined?(game_session)%>
</div>
