<% content_for :title, "GameSessions" %>

<h1 class="headline"><%= I18n.t("game_sessions.title") %></h1>

<div id="game_sessions">
  <% @game_sessions.each do |game_session| %>
    <%= link_to game_session.title, game_session, class: "title lnk-title" %>
    <%= render game_session %>
  <% end %>
</div>

<%= link_to I18n.t("game_sessions.create_btn"), new_game_session_path, class: "lnk-new" %> |
<%= link_to I18n.t("game_sessions.back_link"), players_path, class: "lnk-back" %>
