<p>
  <strong class="game-title"><%= @game_session.title %></strong> <br />
  <%= link_to "Edit this game session", edit_game_session_path(@game_session), class: "lnk" %>
</p>

<%= render @game_session %>

<% if @game_session_quest %>
  <p class="objective-title"><%= I18n.t("game_session.quest") %></p>

  <%= render @game_session_quest%>
<% elsif already_joined?(@game_session) %>
  <%= button_to I18n.t("game_session.get_quest_btn"), game_session_quests_path(@game_session) %>
<% end %>

<%#= link_to "Quests", game_session_quests_path(@game_session) %>

<div>
  <%= link_to I18n.t("game_session.back_btn"), game_sessions_path, class: "lnk-back" %>
  <%#= button_to "Destroy this game session", @game_session, method: :delete %> <!-- FIXME-->
</div>
