<p class="notice"><%= notice %></p>

<%= render @player %>

<div>
  <%= link_to "Edit this player", edit_player_path(@player), class: "lnk-edit" %> |
  <%= link_to "Back to players", players_path, class: "lnk-back" %>

  <%= button_to "Destroy this player", @player, method: :delete, class: "btn-destroy" %>
</div>
